@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
}
html {
  font-size: 62.5%;
  background-color: #080708;
}
.container {
  padding-left: 8%;
  padding-right: 8%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./images/bg.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  overflow-y: auto;
}
p {
  font-size: 10px;
  color: white;
  line-height: 16px;
}
.btn {
  padding: 12px 28px;
  font-size: 12px;
  font-weight: 700;
  margin-top: 30px;
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid red;
  text-decoration: none;
  transition: ease 0.5s;
}
.btn:hover {
  background-color: #000;
  color: white;
  border-color: #fff;
}
/* navbar start */
.navbar {
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  column-gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  transition: ease 0.5s;
}
nav ul li a:hover {
  color: #000;
}

/* navbar end */
/* row start */
.row {
  display: flex;
  column-gap: 10px;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 50%;
}

h1 {
  color: #fff;
  font-size: 10rem;
}
.desc {
  font-size: 1.6rem;
}
.cards {
  max-width: 500px;
  margin: auto;
}
.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  padding: 15px 25px;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid red;
  position: relative;
  margin: 10px 15px;
  transition: ease 0.5s;
}
.card.card-1 {
  background-image: url(./images/pic-1.png);
}
.card.card-2 {
  background-image: url(./images/pic-2.png);
}
.card.card-3 {
  background-image: url(./images/pic-3.png);
}
.card.card-4 {
  background-image: url(./images/pic-4.png);
}
.card:hover {
  transform: translateY(-10px);
  border-color: #fff;
}

.card .card-head {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 6px;
  padding: 6px;
}
.card-bottom {
  position: absolute;
  bottom: 26px;
}
/* row end */
@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 7rem;
  }

  .row {
    flex-direction: column;
  }
  .col-1 h1,
  .col-1 p {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .col-2 {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .navbar {
    flex-direction: column;
  }
  h1 {
    font-size: 5rem;
  }
  .col-1 {
    margin-top: 50px;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
}
